argbind==0.3.9
descript_audiotools==0.7.2
einops==0.8.0
gradio==4.44.0
julius==0.2.7
matplotlib==3.9.2
numpy==1.25.2
pandas==2.2.3
pytest==8.3.3
Requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
setuptools==75.1.0
soundfile==0.12.1
torch==2.4.0+cu118
torchaudio==2.4.0+cu118
torchmetrics==1.4.2
tqdm==4.66.5
